<section id="marcas" class="marcas">
  <div class="container">

    <div class="marcas__cabecalho">
      <span class="marcas__subtitulo">
        Seleção premium
      </span>

      <h2 class="titulo-secao">
        Grandes marcas
      </h2>
    </div>

  </div>

  <div class="marcas__carrossel">

    <div class="marcas__faixa">

      @for (marca of marcas; track $index) {
        <div class="marca">

          <img
            [src]="marca.logo"
            [alt]="marca.nome"
            class="marca__logo"
          >

          <span class="marca__nome">
            {{ marca.nome }}
          </span>

        </div>
      }

      <!-- REPETIÇÃO PARA O LOOP INFINITO -->
      @for (marca of marcas; track $index) {
        <div class="marca">

          <img
            [src]="marca.logo"
            [alt]="marca.nome"
            class="marca__logo"
          >

          <span class="marca__nome">
            {{ marca.nome }}
          </span>

        </div>
      }

    </div>

  </div>
</section>